body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
  height: 100vh;
  display: flex;
  width: 98%;
  justify-content: center;
}

.left, .right {
  float:left;
  width: calc(50% - 6em);
  padding: 3em;
  margin-top: 30vh;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
